.blog-comment
  - data_opts = { url: url_for([@post, comment]), method: :delete, remote: true, confirm: "Sure?" }
  %button.close.remove-comment{ type: :button, :"aria-hidden" => true, data: data_opts } &times;
  .body= comment.body
  .when= comment.updated_at.to_s(:short)
  - comment.remote_posts.each do |rp|
    .remote-page.clearfix
      .pull-left.col-lg-6
        %img{ src: rp.logo_url }
      .pull-right.col-lg-6
        .title= link_to rp.title, rp.source, target: :"_blank"
        .description= rp.h1
  - if comment.comment_images.any?
    .comment-image.clearfix
      - comment.comment_images.each do |image|
        %img.pull-left{ src: image.image.url }
  %hr
