.remote-page.clearfix
  .pull-left.col-lg-6
    %img{ src: image_src }
  .pull-right.col-lg-6
    %button.close.remove-preview{ type: :button, :"aria-hidden" => true } &times;
    .title= link_to title, source_url, target: :"_blank"
    .description= description
