%div{ "data-bind" => "template: {name:'todoTemplate', foreach: posts.list2}" }

%script#todoTemplate{:type => "text/x-jquery-tmpl"}
  %div
    asdasd
    %input{:"data-bind" => "attr: { 'id'  : id }, checked: done ", :type => "checkbox"}/
    %label{:"data-bind" => "attr: { 'for' : id }, html: name, css: {'done-true':done}"}
