- @posts.each do |post|
  .blog-post
    %h2.blog-post-title
      = link_to post.title, post
    %p.blog-post-meta
      = post.updated_at.to_s(:short)
      by
      = link_to post.username, '#'
    %hr/
    = post.body
